.foot {
    border-top: 1px solid var(--border-color);
    padding: 12px;
    display: flex;
}

.foot-container {
    position: relative;
    flex: 1;
}

.input {
    width: 100%;
    padding: 8px 48px 8px 12px;
    font-size: 1.5rem;
    color: var(--text-color);
    background-color: var(--grey-blur-color);
    border: 2px solid transparent;
    border-radius: 6px;
    outline: none;

    &:focus {
        border-color: var(--border-color);
    }
}

.emoji-icon {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.8rem;
    color: var(--grey-color);
    cursor: pointer;
}

.send-btn {
    width: 40px;
    border: none;
    outline: none;
    margin-left: 12px;
    background-color: transparent;
    color: var(--primary-color);
    cursor: pointer;
}

.send-icon {
    font-size: 2rem;
    color: var(--primary-color);
}
