.wrapper {
    position: relative;
}

.main {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--wrapper-color);
}

.form {
    width: 400px;
    max-width: 90%;
    padding: 30px;
    border-radius: 12px;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    position: relative;
    margin-top: 24px;
    width: 100%;

    input {
        padding: 12px 2px;
        display: block;
        width: 100%;
        font-size: 1.7rem;
        border: none;
        border-bottom: 1px solid #e8ebed;
        background-color: transparent;
        outline: none;
        color: var(--black-color);
    }

    &:focus-within label {
        color: var(--primary-color);
    }

    &:focus-within input {
        border-color: var(--primary-color);
    }
}

.submit {
    margin-top: 24px;
    width: 100%;
    border: none;
    outline: none;
    color: #ffffff;
    background-color: var(--primary-color);
    padding: 12px 0;
    font-size: 1.7rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 32px;
}

.login {
    margin-top: 24px;
    color: var(--grey-color);
    font-size: 1.5rem;
    text-align: center;

    a {
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--grey-color);
        margin-left: 2px;

        &:hover {
            text-decoration: underline;
        }
    }
}
