@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@300;400;500;600;700&family=Lexend+Deca:wght@300;400;500;600;700;800;900&family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&family=Sarabun:wght@300;400;500;600;700;800&display=swap');

:root {
    --web-width: 1100px;
    --header-height: 60px;
    --mobile-menu-height: 62px;
    --sidebar-width: 20%;
    --search-box-width: 360px;
    --space-to-header: 16px;

    // Colors
    --primary-color: #6a5af9;
    --white-color: #ffffff;
    --background-color: #f8f8f8;
    --black-color: #2d2727;
    --text-color: #2c3333;
    --red-color: #e21818;
    --green-color: #5d9c59;
    --blue-color: #3e54ac;
    --yellow-color: #f9f54b;
    --orange-color: #f99417;
    --grey-color: #73777b;
    --grey-blur-color: rgb(149, 165, 166, 0.1);
    --border-color: #e8ebed;
    --wrapper-color: #ffffff;
    --box-shadow-1: rgba(0, 0, 0, 0.06) 0px 2px 8px;
    --box-shadow-2: rgba(0, 0, 0, 0.12) 0px 4px 16px;
    --box-shadow-3: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    --post-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    --header-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;

    // Fonts
    --primary-font: 'Anuphan', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font) !important;
}

*::selection {
    background-color: var(--primary-color);
    color: #ffffff;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    overflow: overlay;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

// Scrollbar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 6px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.1);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

// Dark mode
:root .dark {
    // Colors
    // --primary-color: #0cf1df;
    --white-color: #1b2430;
    --background-color: #f8f8f8;
    --black-color: #ffffff;
    --text-color: #a8a8a8;
    --grey-color: #a8a8a8;
    --grey-blur-color: rgb(149, 165, 166, 0.1);
    --border-color: #646464;
    --wrapper-color: #293648;
    --box-shadow-1: 0px 1px 1px 0px hsla(0, 0%, 0%, 0.14), 0px 2px 1px -1px hsla(0, 0%, 0%, 0.12),
        0px 1px 3px 0px hsla(0, 0%, 0%, 0.2);
    --header-shadow: rgba(255, 255, 255, 0.12) 0px 1px 1px;
    --post-shadow: rgba(255, 255, 255, 0.12) 0px 1px 1px;
}

.ant-layout {
    background-color: var(--background-color);
    color: var(--text-color);
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
    :root {
        --web-width: 100%;
    }
}

@media (max-width: 320px) {
}
