.wrapper {
    position: relative;
}

.content {
    display: flex;
    align-items: flex-start;
    width: var(--web-width);
    margin: var(--header-height) auto 0;
}

.main {
    flex: 1;
    padding: 24px;
}
