.wrapper {
    width: 100%;
    background-color: var(--white-color);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    animation: fadeInY 0.2s ease;
}

@keyframes fadeInY {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
