.wrapper {
    width: 100%;
    position: relative;
    user-select: none;

    &:hover .prev,
    &:hover .next {
        opacity: 1;
        pointer-events: all;
    }
}

.stage {
    width: 100%;
    overflow: hidden;

    &::-webkit-scrollbar {
        display: none;
    }
}

.stage-list {
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 0.2s linear;
}

.stage-item {
    width: 100%;
    flex-shrink: 0;

    img {
        width: 100%;
        object-fit: contain;
    }
}

.prev,
.next {
    --size: 40px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: var(--white-color);
    font-size: 1.4rem;
    color: var(--black-color);
    transition: all 0.2s ease;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
}

.prev {
    left: 0;
    transform: translateX(-50%);
}

.next {
    right: 0;
    transform: translateX(50%);
}
