.wrapper {
    width: 99%;
    margin: 0 auto;
    background-color: var(--white-color);
    box-shadow: var(--post-shadow);
    border-radius: 6px;
    cursor: pointer;

    + .wrapper {
        margin-top: var(--space-to-header);
    }
}
