.wrapper {
    padding: 12px 0 24px;
}

.group {
    --space: 12px;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(0px - var(--space));

    + .group {
        margin-top: 24px;
    }
}

.item {
    width: calc(100% / var(--columns) - var(--space));
    margin-left: var(--space);

    > * {
        display: block;
        width: 100%;
    }
}

.label {
    margin-bottom: 8px;
}

.preview {
    --size: 80px;

    img {
        width: var(--size);
        height: var(--size);
        border-radius: 12px;
        object-fit: cover;
    }
}
