.wrapper {
    width: var(--sidebar-width);
    position: sticky;
    top: var(--header-height);
}

.list {
    margin-top: 24px;
}

.item {
    width: 100%;
    display: block;
    padding: 12px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    color: var(--text-color);
    transition: all 0.1s ease-in-out;

    + .item {
        margin-top: 4px;
    }

    svg {
        width: 30px;
        margin-right: 6px;
    }

    &.active {
        background-color: var(--grey-blur-color);
        color: var(--primary-color);
    }

    &:hover {
        background-color: var(--grey-blur-color);
    }
}
