.wrapper {
    width: var(--sidebar-width);
}

.list {
    margin-top: 24px;
}

.item {
    width: 100%;
    display: block;
    padding: 12px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    color: var(--text-color);
    font-weight: 600;

    + .item {
        margin-top: 4px;
    }

    svg {
        width: 30px;
        margin-right: 6px;
    }

    &.active {
        background-color: rgba(128, 128, 128, 0.1);
        color: var(--primary-color);
    }
}
